
/* 投稿一覧 */
.tweet-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.main>.title {
  font-size: 4vh;
  font-style: italic;
  line-height: 1.4;
  color: black;
  font-weight: bold;
  padding: 7vh 0 3vh;
  text-align: center;
}

.tweet-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tweet-lists>.list {
  width: 37vh;
  width: 37vh;
  padding: 1vw;
}

.tweet-lists>.list:hover {
  background-color: #eee;
}

.tweet-img-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.tweet-img {
  width: 33vh;
  height: 33vh;
  border-radius: 5%;
}

.tweet-info {
  color: black;
  padding: 1vh 1vw;
}

.tweet-name {
  font-size: 2.5vh;
  padding-top: 0.5vh;
  overflow-wrap: break-word;
}

.tweet-category {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5vh;
}
/* いいねボタン */
.like-btn {
  display: flex;
  align-items: center;
}

.heart-btn {
  border: none;
  background-color: inherit;
}

.heart-icon {
  color: #808080;
}

.unlike {
  color: #e54747;
}

.unlogin {
  margin-right: 4px;
}
/* いいねボタン */
/* /投稿一覧 */


/* 投稿ボタン */
.post-btn {
  width: 60px;
  background-color: #ffebcd;
  text-align: center;
  border-radius: 50%;
  bottom: 65px;
  right: 10px;
  position: fixed;
  padding: 5px;
  z-index: 10;
  display: none;
}

.post-btn-text {
  color: #555555;
  display: block;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 3px;
}

.post-btn:hover {
  text-decoration: none;
  color: #555555;
}

.post-btn-icon {
  color: #888888;
}
/* /投稿ボタン */

/* タブレット表示 */
@media (max-width: 768px){
  .side-lists {
    font-size: 1.7vh;
  }
}
/* スマホ表示 */
@media (max-width: 576px) {
  .tweet-contents>.title {
    font-size: 3.2vh;
  }
  .post-btn {
    display: block;
  }
}