a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #333333;
}

.main {
  background-color: #ddffff;
}

/* 投稿一覧 */
.tweet-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}
.tweet-contents>.title {
  font-size: 4vh;
  line-height: 1.4;
  color: black;
  font-weight: bold;
  margin-bottom: 3vh;
}

.tweet-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tweet-lists>.list {
  width: 37vh;
  width: 37vh;
  padding: 1vw;
  background-color: #ddffff;
}

.tweet-img-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.tweet-img {
  width: 33vh;
  height: 33vh;
  border-radius: 5%;
}

.tweet-info {
  background-color: #ddffff;
  color: black;
  padding: 1vh 1vw;
}

.tweet-name {
  font-size: 2.5vh;
  padding-top: 0.5vh;
}

.tweet-category {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5vh;
}

.star-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.star-icon {
  margin-right: 0.3vw;
}

.star-count {
  font-size: 2vh;
}
/* /投稿一覧 */


/* 投稿ボタン */
.post-btn {
  width: 120px;
  background-color: #555555;
  text-align: center;
  border-radius: 50%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  z-index: 10;
}

.post-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.post-btn:hover {
  text-decoration: none;
  color: #fff;
}

.post-btn-icon {
  width: 60%;
}
/* /投稿ボタン */


/* スマホ表示 */
@media (max-width: 576px) {
  .tweet-contents>.title {
    font-size: 3.2vh;
  }
  .post-btn {
    width: 80px;
    padding: 5px;
  }
  .post-btn-text {
    font-size: 14px;
    margin-bottom: 3px;
  }
  .star-count {
    font-size: 2.2vh;
  }
}