/* ツイートの概要 */
.tweet-show {
  background-color: #ffefd5;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.show-row {
  width: 100%;
}

.tweet-box {
  padding: 5vh 5vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet-img-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet-change-btn {
  width: 100%;
  padding-bottom: 1.8vh;
}

.change-btn {
  cursor: pointer;
  font-weight: 600;
}

.prev-btn {
  display: none;
  float: left;
}

.next-btn {
  float: right;
}

.tweet-box-img {
  background-color: white;
  border-radius: 10%;
  width: 50vh;
  height: 50vh;
  display: none;
}

.active {
  display: block;
}

.tweet-img-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.7vh;
  font-size: 1.5vw;
}

.tweet-page-btn {
  color: #4e90af;
  background-color: #add8e6;
  text-align: center;
  width: 5vh;
  padding: 1vh 0;
  margin: 0 1.2vh;
  border-radius: 10%;
  cursor: pointer;
}

.tweet-page-btn:hover {
  color: #fff;
  background-color: #5cabd0;
}

.tweet-edit {
  background-color: #ea352d;
  border-radius: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 5vh 0 1vh;
  padding: 1vh 12vh;
}

.tweet-edit:hover {
  color: #fff;
}

.or-text {
  font-size: 20px;
}

.tweet-destroy {
  background-color: #4169e1;
  border-radius: 100px;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 1vh 0;
  padding: 1vh 12vh;
}

.tweet-destroy:hover {
  color: black;
}

.tweet-explain-box {
  width: 100%;
  font-size: 2vh;
  margin: 4vh 0;
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: column;
}

.tweet-explain-box>span:first-child {
  font-weight: 500;
}

.detail-table {
  width: 100%;
  margin-bottom: 7vh;
  justify-content: flex-start;
}

.detail-tweet {
  width: 20%;
  background-color: #ffa500;
  border: 1px solid #ff8c00;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #ff8c00;
}

.heart-icon {
  margin-right: 0.5vh;
}

.heart-count {
  font-size: 1.6vw;
}
/* /ツイートの概要 */

/* 参考記事 */
.tweet-article-box {
  width: 100%;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.article-heading {
  font-size: 2vh;
  font-weight: 500;
}

.article-lists {
  list-style: square;
  margin-left: 3vh;
  margin-top: 1vh;
}

.article-list {
  font-size: 2.2vh;
  margin: 0.8vh 0 1vh;
  text-decoration: none;
  color: black;
}
/* /参考記事 */

/* コメント */
.comment-form {
  width: 100%;
  margin: 2.5vh 0;
  text-align: center;
}

.comment-form>form {
  display: flex;
  align-items: center;
}

.comment-text {
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #fdf5e6;
  resize: none;
}

.comment-submit {
  width: 10%;
  background-color: lightblue;
  border: 1px solid #fdf5e6;
  border-radius: 20%;
  padding: 20px 0;
  margin: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-submit>span {
  font-size: 14px;
  color: white;
}

.comment-box {
  width: 100%;
  background-color: #ffebcd;
  border-radius: 15px;
}

.comment-lists {
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
}

.comment-list {
  border: 3px solid #ffefd5;
}

.comment-lists>p {
  padding: 0.5vh 1vh;
  overflow-wrap: break-word;
}

.comment-lists p strong {
  font-weight: bold;
}

.comment-lists p strong a {
  color: black;
}

.fa-ellipsis-h {
  float: right;
  padding-right: 10px;
  cursor: pointer;
}

.more_list {
  padding: 0.5vh 1vh;
  margin-left: 2vh;
  width: 10%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  float: right;
  display: none;
}

.more_list a {
  color: black;
}

.comment-list>p:last-child {
  padding: 1vh 0;
}
/* /コメント */

/* タブレット表示 */
@media (max-width: 768px){
  .heart-count {
    font-size: 2.2vw;
  }
  .comment-submit {
    padding: 18px 0;
  }
  .comment-submit>span {
    font-size: 13px;
  }
  .more_list {
    width: 15%;
  }
}

/* スマホ表示 */
@media (max-width: 576px) {
  .tweet-box-img {
    width: 80vw;
    height: 40vh;
  }
  .tweet-edit {
    font-size: 12px;
    padding: 1.4vh 10vh;
  }
  .or-text {
    font-size: 14px;
  }
  .tweet-destroy {
    font-size: 12px;
    padding: 1.4vh 10vh;
  }
  .detail-tweet {
    font-size: 10px;
  }
  .detail-value {
    font-size: 10px;
    padding: 10px;
  }
  .heart-count {
    font-size: 2.5vw;
  }
  .tweet-article-box {
    margin-bottom: 5vh;
  }
  .comment-text {
    width: 80%;
  }
  .comment-submit {
    width: 20%;
    padding: 16px 0;
  }
  .comment-submit>span {
    font-size: 12px;
  }
  .more_list {
    width: 20%;
    padding: 0.5vh 0.5vw;
  }
}