.top-page-header {
  border-bottom: 3px solid #ffefd5;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo>a {
  text-decoration: none;
  text-shadow: -1.7px -1.7px 0 rgba(0, 0, 0, 0.2);
  font-style: italic;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  line-height: 80px;
}

.header-form {
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form {
  width: 80%;
  height: 5vh;
  display: flex;
}

.ransack-category-list {
  width: 20%;
  padding-left: 5px;
  border: 1px solid;
  border-right: none;
  background-color: #fff;
  -webkit-appearance: none;
}

.search-form>.input-box {
  width: 80%;
  padding-left: 10px;
  border: 1px solid;
  border-left-color: rgba(0, 0, 0, 0.2);
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #ff9933;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 14px;
  width: 100%;
  padding-top: 1vh;
  display: flex;
  justify-content: flex-end;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: center;
}

.user-nickname {
  margin-right: 3vw;
  font-weight: bold;
}

.login {
  margin-right: 3vw;
}

/* タブレット表示 */
@media (max-width: 768px){
  .header-logo {
    justify-content: flex-start;
    padding-left: 5vh;
  }
  .header-logo>a {
    font-size: 30px;
  }
  .header-form {
    justify-content: flex-start;
    padding-left: 5vh;
  }
}

/* スマホ表示 */
@media (max-width: 576px) {
  .top-page-header {
    padding: 2vh 10vw;
  }
  .header-logo {
    height: 60px;
    padding-left: 1vh;
  }
  .header-logo>a {
    font-size: 24px;
  }
  .header-form {
    padding: 1vh 1vh 0 1vh;
  }
  .search-form {
    width: 100%;
    height: 5.7vh;
    margin-bottom: 5px;
  }
  .search-form>.input-box {
    width: 90%;
  }
}