.second-header {
  height: 100px;
  border-bottom: 2px solid #ffefd5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 250px;
  height: 130px;
  text-align: center;
}

.second-header a {
  line-height: 130px;
  text-decoration: none;
  text-shadow: -1.7px -1.7px 0 rgba(0, 0, 0, 0.2);
  font-style: italic;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}